<h3><%= @category.name.capitalize %></h3>
<ul>
  <% @category.posts.each do |post| %>
    <li><%= link_to post.title, post %></li>
  <% end %>
</ul>
<p><%= link_to "Make a new post in #{@category.name.capitalize}", new_category_post_path(@category.id) %></p>
